{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Maxmus Fedelika</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/project/">Projects</a>
        <a href="/contact/">Contact</a> 
    </nav>

    <header class="home-header">
        <div class="left">
            <h1>Welcome to My Site</h1>
            <p>Hello! I'm Maxmus Fedelikah</p>
            <p>DATA SCIENTIST and ANALYST</p> 
            <p>AI and MACHINE LEARNING ENGINEER</p> 
            <P>WEB and SOFTWARE DEVELOPER</P>
        </div>
        <div class="right">
            <img src="{% static 'images/profile.jpg' %}" alt="Maxmus Fedelika">
        </div>
    </header>
</body>
</html>
